<h1>Cds by @Model["searchTerm"].GetTerm()</h1>

@foreach (var cd in @Model["allCdsList"])
{
  if (@cd.GetArtist() == @Model["searchTerm"].GetTerm())
  {
    <h3>"@cd.GetTitle()"</h3>
  }

}
<p><a href='/cds/new'>Add a new Cd</a></p>
<p><a href='/cds/searchbyartist'>Search by artist</a></p>
